.app {

  justify-items: center;
  justify-content: space-around;
  margin:25px;
}
button {
    margin-left: 10px;
  }
  
img {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  object-fit: cover;
  margin: 10px;
  width:30%;
  height:150px;
  }
  img:hover {
    border: 1px solid #777;
  }


